@import "tailwindcss/preflight";
@tailwind utilities;



/*body{
  background-image: url("./pink_wallpaper.png");

 background-size: stretch;
 background-color: #f1b1d8;
 background-repeat: no-repeat;
  
} */

.full-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* sits behind your content */
}

